html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Card */
.card-container {
    width: 18rem;
    height: 22rem;
}

.card-obj {
    width: 16rem;
    height: 20rem;
}

.card-obj:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px #000;
}

.card-obj:active {
    box-shadow: 0px 0px 10px #000;
}

.card-img {
    width: 220px;
}

.card-title {
    font-size: 1.2em;
}

/* Character */
.page-item:hover {
    cursor: pointer;
}

