@{
    ViewData["Title"] = "Valorant API";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div class="text-center mt-4">
        <a class="btn btn-dark" asp-area="" asp-controller="ConsultaApi" asp-action="Agents">Agents</a>
        <a class="btn btn-dark" asp-area="" asp-controller="ConsultaApi" asp-action="Maps">Maps</a>
    </div>
</div>