html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Card de notícia */
.card-noticia {
    width: 250px;
    height: 170px;
}

.card-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
}

.position-absolute {
    bottom: 0;
}