@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div class="row">
    @foreach (var item in Model.results)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                <h1 class="">@item.name</h1>
            </div>
        </div>
    }
</div>
