@charset "UTF-8";

header {
    display: block;
    width: 100vw;
    position: relative;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
    background: linear-gradient(#111, #888, #fff) no-repeat;
}

#estrelas {
    width: 100%;
    height: 60vh;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#estrelas-img {
    position: absolute;
    animation: estrela-animation 30s ease-in-out infinite;
    opacity: .9;
}

#card-estrela {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}


/* Animations */

@keyframes estrela-animation {
    0% {
        transform: scaleX(2);
    }
    50% {
        transform: scaleX(3);
    }
    100% {
        transform: scaleX(2);
    }
}