@{
    ViewData["Title"] = "Contato";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    
    <div class="row d-flex justify-content-center">
        <div class="card col-6 text-start">
            <div class="mb-3 mt-2">
                <label for="nome" class="form-label">Nome completo</label>
                <input type="text" class="form-control" id="nome" placeholder="Nome">
            </div>
            <div class="mb-3">
                <label for="telefone" class="form-label">Telefone</label>
                <input type="tel" class="form-control" id="telefone" placeholder="Telefone">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="seuemail@gmail.com">
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">Mensagem</label>
                <textarea class="form-control" id="message" rows="3"></textarea>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Enviar</button>
            </div>
        </div>
    </div>
    
</div>