@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Encontre um novo wallpaper para seu celular.</p>

    <div class="links">
        <a class="text-white btn btn-dark" asp-area="" asp-controller="Galeria" asp-action="Index">Galeria</a>
        <a class="text-white btn btn-dark" asp-area="" asp-controller="Home" asp-action="Contato">Contato</a>
    </div>
</div>
