
@{
    ViewData["Title"] = "Galeria";
}

<div class="text-center">
    <h1 class="display-4 mb-4">@ViewData["Title"]</h1>
    
    <div class="galeria">
        <div class="row">
            <figure class="col">
                <img class="wallpaper-img" src="https://i.pinimg.com/564x/4d/f7/3d/4df73d84ae9bff1c9a2f251643995206.jpg" alt=""/>
            </figure>
            <figure class="col">
                <img class="wallpaper-img" src="https://i.pinimg.com/564x/29/a7/29/29a729cb39b08e4edc873aaeb556dcbe.jpg" alt=""/>
            </figure>
            <figure class="col">
                <img class="wallpaper-img" src="https://i.pinimg.com/564x/17/7f/e5/177fe557bfb8c23a6fac00d13f114ff6.jpg" alt=""/>
            </figure>
            <figure class="col">
                <img class="wallpaper-img" src="https://i.pinimg.com/564x/e4/82/41/e48241d626f22ab551a955b0e21807f6.jpg" alt=""/>
            </figure>
        </div>
        <div class="row">
            <figure class="col">
                <img class="wallpaper-img" src="https://i.pinimg.com/564x/77/1d/6c/771d6c0249f6f5090b5ba506bea928b0.jpg" alt="" />
            </figure>
            <figure class="col">
                <img class="wallpaper-img" src="https://i.pinimg.com/564x/e4/90/77/e490770401bde6f4dc32eaeff317ba65.jpg" alt="" />
            </figure>
            <figure class="col">
                <img class="wallpaper-img" src="https://i.pinimg.com/564x/2d/1a/dc/2d1adc795144030ae46d4abb284d22f8.jpg" alt="" />
            </figure>
            <figure class="col">
                <img class="wallpaper-img" src="https://i.pinimg.com/564x/92/dd/27/92dd27683afbd3270a17d8cf298126e9.jpg" alt="" />
            </figure>
        </div>
        <div class="row">
            <figure class="col">
                <img class="wallpaper-img" src="https://i.pinimg.com/564x/33/e7/0c/33e70c264592087166a5ed33871ab761.jpg" alt="" />
            </figure>
            <figure class="col">
                <img class="wallpaper-img" src="https://i.pinimg.com/564x/bd/9c/44/bd9c44408a76cb9061ed7d0acfbe51d0.jpg" alt="" />
            </figure>
            <figure class="col">
                <img class="wallpaper-img" src="https://i.pinimg.com/564x/66/5d/46/665d46fd100e4c23ffc8711f3031d31f.jpg" alt="" />
            </figure>
            <figure class="col">
                <img class="wallpaper-img" src="https://i.pinimg.com/564x/9b/89/2b/9b892b5ac89714831b2d4424f87ee9ac.jpg" alt="" />
            </figure>
        </div>
    </div>
</div>