<div class="row">
  <div *ngFor="let item of resultList$ | async" class="character-card col">
    <div class="card-head">
      <figure>
        <img src="{{ item.image }}" alt="">
        <figcaption>
          <h1>
            {{ item.name }}
          </h1>
        </figcaption>
      </figure>
    </div>
    <div class="card-body">
      <p>{{ item.status }}</p>
      <p>{{ item.species }}</p>
      <p>{{ item.type }}</p>
      <p>{{ item.gender }}</p>
      <p>{{ item.origin?.name }}</p>
      <p>{{ item.location?.name }}</p>
    </div>
  </div>
</div>


